.project-details {
	gap: var(--space);
}

.edit-project {
	height: 100%;
	gap: var(--space);
}

.create-project .heading,
.edit-project .heading {
	line-height: 1.6;
}

.create-project .heading > .title,
.edit-project .heading > .title {
	gap: 0.7rem;
}

.edit-project .heading .project-id {
	font-size: 1.1rem;
	font-weight: 300;
}

.create-project .heading > p,
.edit-project .heading > p {
	font-weight: 500;
}

.create-project .phase-name,
.edit-project .project-name h1,
.edit-project .phase-name {
	max-width: 30ch;
	display: unset;
	line-height: 2.8rem;
	cursor: pointer;
}

#create_project_form,
#editable_project_details {
	padding-bottom: 3rem;
}

#editable_project_details {
	gap: 1rem;
}

#create_project_form > fieldset,
#editable_project_details > fieldset {
	flex: 1;
	height: fit-content;
	gap: 0.8rem;
	font-weight: 600;
}

#editable_project_details .project-secondary-info input,
#editable_project_details .phase-secondary-info input {
	height: 100%;
}

#create_project_form #project_budget,
#editable_project_details #project_budget {
	width: 20ch;
}

.project-secondary-info {
	gap: 1rem;
}

.project-secondary-info > * {
	flex: 1;
}

.phase-details,
.phase-details .phases {
	gap: var(--space);
}

.no-phases-wall h4 {
	font-size: 1.3rem;
}

.phase-details legend {
	font-size: 1.7rem;
	margin-bottom: 1rem;
}

.phase .status-badge {
	font-size: 0.9rem;
	margin-top: 0.3rem;
	margin-bottom: 0.5rem;
}

.phase-name {
	font-size: 1.5rem !important;
	margin-right: 1rem;
	margin-bottom: 0.3rem;
}

.phase-details-form,
.phase-secondary-info {
	gap: 1rem;
}

#add_phase_button {
	padding-right: 1rem;
	padding-left: 1rem;
	margin-top: 1rem;
}

#submit_project_button h3,
#add_phase_button h3,
#save_project_info_button h3 {
	font-size: 1.3rem;
}

#add_phase_button {
	border: 1px solid var(--white);
}

#add_phase_button h3 {
	font-size: 1.2rem;
}

#submit_project_button,
#save_project_info_button {
	width: 100% !important;
}

@media (max-width: 992px) {
	.project-name.text-w-icon img,
	.phase > div:first-child .text-w-icon > img {
		height: 1.3rem !important;
		width: 1.3rem !important;
	}

	.project-name.text-w-icon h1,
	.phase-name {
		font-size: 1.5rem !important;
	}

	#create_project_form .project-secondary-info,
	#editable_project_details .project-secondary-info,
	.phase-secondary-info {
		flex-direction: column;
		gap: 0.8rem;
	}

	#create_project_form .project-secondary-info input,
	#editable_project_details .project-secondary-info input,
	.phase-secondary-info input {
		width: 100% !important;
	}
}

@media (max-width: 768px) {
	.project-name.text-w-icon h1,
	.phase-name {
		line-height: unset;
		font-size: 1.3rem !important;
	}
}
