#add_task_form {
    gap: 5rem;
}

#add_task_form .heading  .text-w-icon {
    margin-bottom: 1rem;
}

.task-detail,
.task-worker {
    gap: var(--space);
}

.task-primary-info,
.task-schedule {
    gap: 1rem;
}

.task-primary-info > *
.task-schedule > * {
    flex: 1;
}

.task-name {
    width: 30ch;
    height: 100%;
}

.task-priority {
    width: 50%;
}

.task-worker {
    width: 40ch;
}

.task-worker .list {
    max-height: 40ch;
    overflow: auto;
}

.task-worker-card {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    gap: 0.5rem;
    border-radius: var(--border-radius);
}

.task-worker-card:hover {
    background-color: var(--black);
}

.task-worker-card .worker-primary-info {
    gap: 1rem;
}

.task-worker-card .worker-primary-info > section {
    width: 100%;
}

.task-worker-card #remove_worker_button {
    display: none;
    margin-right: 0.3rem;
}

.task-worker-card:hover #remove_worker_button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-worker-card .worker-name {
    font-size: 1.3rem;
}

.task-worker-card .worker-id {
    font-size: 0.9rem;
    font-weight: 300;
}

.task-worker-card .worker-job-titles,
.task-worker-card .worker-statistics {
    gap: 0.3rem;
}

#add_task_form #add_worker_button {
    border: 1px solid var(--white);
}

.no-assigned-worker-wall h3 {
    font-size: 1.2rem;
}

@media (max-width: 1200px) {
    .single-form:has(.add-task) > main {
        padding: 0;
    }

	.single-form:has(.add-task) .single-form-form {
        justify-content: unset !important;
        padding-top: 2rem;
	}

    #add_task_form {
        width: 100%;
        flex-direction: column;
        padding-bottom: 2rem;
        gap: 3rem;
    }

    #add_task_form .task-worker {
        width: 100%;
    }

    .task-detail .heading .text-w-icon img {
        height: 2rem;
        width: 2rem;
    }

    .task-detail .heading .text-w-icon h3 {
        font-size: 1.8rem;
    }

    .task-detail .task-schedule > * {
        flex: 1;
    }

    .no-assigned-worker-wall img {
        height: 5rem !important;
        width: 5rem !important;
    }
}


@media (max-width: 768px) {
	.single-form:has(.add-task) .single-form-form {
        padding: 2rem;
    }

    .task-detail .task-primary-info {
        flex-direction: column;
    }

    .task-detail .task-primary-info > .input-label-container:first-child > input {
        width: 100%;
    }
}

@media (min-width: 768px) and (min-height: 801px) {
    .single-form:has(.add-task) .single-form-form {
        justify-content: center !important;
    }
}