.unset-button {
	all: unset; /* removes all default styles */
	font: inherit;
	color: inherit;
	padding: 0;
	margin: 0;
	background-color: transparent;
	border: none;
	outline: none;
}

.line-divider > hr {
	width: 100%;
}

.line-divider > p {
	top: -13px;
	left: 50%;
	transform: translate(-50%, 0);
	padding: 5px;
}

/* ---------------- PASSWORD TOGGLE WRAPPER ---------------- */
.password-toggle-wrapper {
	position: relative;
}

.password-toggle-wrapper > img {
	display: none;
	position: absolute;
	top: 50%;
	right: 8px;
	transform: translate(0, -50%);
	z-index: 10;
	cursor: pointer;
}

/* --------------- HEADER WITH BACK BUTTON --------------- */
.header-w-back {
	position: relative;
}

.header-w-back > h1,
.header-w-back > h3 {
	text-align: center;
}

.header-w-back > button {
	position: absolute;
	top: 50%;
	left: -25px;
	transform: translate(0, -50%);
	cursor: pointer;
}