main.main-page {
	display: flex;
	flex-direction: column;
	padding: var(--space);
}

.content-section-block {
	padding: var(--space);
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: var(--border-radius);
}

.content-section-block > .heading-title {
	margin-bottom: 1rem;
}

.unset-button {
	all: unset; /* removes all default styles */
	font: inherit;
	color: inherit;
	padding: 0;
	margin: 0;
	background-color: transparent;
	border: none;
	outline: none;
}

button:has(.text-w-icon):not(.unset-button) {
	width: 20ch;
}

.line-divider > hr {
	width: 100%;
}

.line-divider > p {
	top: -13px;
	left: 50%;
	transform: translate(-50%, 0);
	padding: 5px;
}

/* ---------------- PASSWORD TOGGLE WRAPPER ---------------- */
.password-toggle-wrapper {
	position: relative;
}

.password-toggle-wrapper > img {
	display: none;
	position: absolute;
	top: 50%;
	right: 8px;
	transform: translate(0, -50%);
	z-index: 10;
	cursor: pointer;
}

/* --------------- HEADER WITH BACK BUTTON --------------- */
.header-w-back {
	position: relative;
}

.header-w-back > h1,
.header-w-back > h3 {
	text-align: center;
}

.header-w-back > button {
	position: absolute;
	top: 50%;
	left: -25px;
	transform: translate(0, -50%);
	cursor: pointer;
}

/* ------------------------ MODAL ------------------------ */

.modal-wrapper,
.modal-wrapper::before {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}

.modal-wrapper::before {
	content: '';
	background-color: var(--black);
	opacity: 0.5;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px); /* For Safari support */
}

.modal-wrapper,
.modal-wrapper > * {
	z-index: 1000;
}

.modal-wrapper,
.modal-wrapper > .dialog {
	min-width: 20rem;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.modal-wrapper:has(.dialog) {
	z-index: 1100 !important;
}

.modal-wrapper {
	background-color: transparent;
}

.modal-wrapper::before {
	content: '';
	background-color: rgba(0, 0, 0, 0.8);
	opacity: 0.5;
}

.modal-wrapper h1 {
	font-size: 2rem;
	font-weight: 800;
	margin-bottom: 0.3rem;
}

.modal-wrapper p {
	font-weight: 300;
}

.modal-wrapper > div,
.modal-wrapper > section {
	min-width: 18rem;
	max-width: 25rem;
	box-sizing: content-box;
	padding: var(--space);
	box-shadow: 0 0 15px rgba(68, 68, 68, 0.2);
}

.modal-wrapper hr {
	width: 100%;
	margin: 0;
}

.modal-wrapper .close-button:hover p {
	color: var(--red);
}

/* Modal With Form */

.modal.modal-form {
	width: 30rem;
	padding: var(--space);
	gap: 1rem;
	border-radius: var(--border-radius);
}

.modal.modal-form .title {
	font-size: 1.5rem;
}

.modal.modal-form form {
	display: flex;
	flex-direction: column;
	gap: var(--space);
}

.modal.modal-form form > button h3 {
	font-size: 1rem;
}

/* Confirmation Dialog */

.confirmation-dialog {
	padding: var(--space);
	gap: var(--space);
}

.confirmation-dialog > .buttons {
	width: 100%;
	gap: 0.5rem;
}

.confirmation-dialog > .buttons > * {
	flex: 1;
}

/* Error Dialog */

.modal.error-list-dialog {
	gap: 1rem;
	justify-content: start !important;
	align-items: start !important;
}

.modal.error-list-dialog > .heading h3 {
	font-size: 2rem;
}

.modal.error-list-dialog > .heading p {
	font-weight: 300;
}

.modal.error-list-dialog ul {
	max-height: 40ch;
	line-height: 1.6rem;
	list-style-type: disc;
	padding-left: 1.5rem;
	overflow: hidden auto;
}

.modal.error-list-dialog li {
	list-style: circle;
}

/* --------------------- NOTIFICATION --------------------- */

@keyframes slide-down {
	0% {
		margin-top: -50px;
	}

	100% {
		margin-top: 0;
	}
}
.slide-down {
	animation: slide-down 0.3s ease-in;
}

@keyframes slide-up {
	0% {
		margin-top: 0;
	}

	100% {
		margin-top: -10%;
	}
}
.slide-up {
	animation: slide-up 0.3s ease-in;
}

.notification-wrapper,
.notification-wrapper > * {
	z-index: 1005;
}

.notification-wrapper {
	width: 100%;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	padding: 0;
	overflow: hidden;
}

.notification-wrapper > div {
	width: 100%;
	padding: 0.8rem var(--space);
	font-weight: 500;
}

.notification-wrapper.fail > div {
	background-color: var(--red);
}

/* -------------------- TEXT WITH ICON -------------------- */

.text-w-icon,
.text-w-icon > * {
	display: flex;
	align-items: center;
}

.text-w-icon > * {
	justify-content: center;
	align-items: center;
}

.text-w-icon img {
	margin-right: 10px;
}

.text-w-icon h1,
.text-w-icon h3,
.text-w-icon h6,
.text-w-icon p {
	display: inline-block !important;
	white-space: nowrap;
}

button > .text-w-icon {
	justify-content: center;
}

/* ---------------- STATUS BADGE ---------------- */
.badge {
	width: 13ch;
	height: fit-content;
	padding: 0.3rem 0.8rem;
	border-radius: 5rem;
}

/* ---------------- INPUT LABEL CONTAINER ---------------- */
.input-label-container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.input-label-container > div,
.input-label-container > label {
	font-size: 1.2rem;
	font-weight: 300;
}

/* ---------------- SEARCH BAR ---------------- */

.search-bar-container {
	position: sticky;
	top: calc(var(--space) * -1);
	z-index: 30;
	background-color: var(--light-black);
	padding: 0.5rem 0;
}

.search-bar {
	width: 60ch;
	display: flex;
	align-items: center;
	background-color: transparent;
}

.search-bar > div:first-child {
	width: 100%;
	display: flex;
	border: 1px solid var(--white);
	border-radius: var(--border-radius);
}

.search-bar input {
	flex: 1;
	font-size: 0.8rem;
	border: none;
}

.search-bar input:focus,
.search-bar input:hover,
.search-bar input:active,
.search-bar > select:focus,
.search-bar > select:hover,
.search-bar > select:active {
	outline: none;
}

.search-bar button {
	background-color: transparent;
	width: fit-content;
	padding: 0.3rem;
}

.search-bar button:hover {
	box-shadow: none;
	transform: unset;
	opacity: 0.7;
}

.search-bar > select {
	width: 13ch;
	border: none;
	margin-right: 0.5rem;
}

/* ---------------- NO CONTENT WALL ---------------- */
.no-content-wall {
	justify-content: center;
	align-items: center;
	min-height: 10rem;
}

.no-content-wall h3 {
	max-width: 20ch;
	font-weight: 300;
	text-align: center;
}

/* ---------------- JOB TITLE CHIP ---------------- */
.job-title-chip {
	background-color: transparent;
	color: var(--white);
	padding: 0.2rem 0.5rem;
	border: 1px solid var(--white);
	border-radius: 5rem;
	font-size: 0.9rem;
	margin: 0.1rem;
}

/* ---------------- USER INFO CARD ---------------- */
.user-info-card {
	min-height: 20rem;
	height: fit-content;
	width: 28rem !important;
	max-width: unset !important;
	max-height: 70vh;
	padding: var(--space);
	border: var(--border-radius);
	gap: var(--space);
	overflow: auto;
}

.user-info-card .user-profile-picture {
	height: 5rem;
	width: 5rem;
	margin-right: 1.2rem;
}

.user-info-card .user-name {
	font-size: 1.5rem;
	font-weight: 600;
}

.user-info-card .user-id {
	font-size: 1rem;
}

.user-info-card .user-job-titles {
	margin-top: 0.3rem;
	gap: 0.3rem;
}

.user-info-card > .user-bio {
	width: 100%;
	font-size: 1rem;
	white-space: pre-wrap;
}

.user-info-card > .user-statistics-container {
	gap: 1rem;
}

.user-info-card > .user-statistics-container > * {
	flex: 1;
}

.user-statistic > .text-w-icon {
	font-size: 1.1rem;
	margin-bottom: 0.3rem;
}

.user-statistic > h4 {
	font-size: 1.8rem;
}

.user-info-card > .contact-info {
	gap: 0.3rem;
}

.user-info-card > .contact-info p {
	white-space: pre-wrap;
}

.user-info-card > #terminate_worker_button {
	width: fit-content;
	padding: 0.5rem 1rem;
}

.user-info-card .see-worker-task-redirect > a:hover {
	text-decoration: underline;
}

.user-info-card .action-buttons {
	gap: 0.5rem;
}

.user-info-card .action-buttons > * {
	flex: 1;
}

/* ---------------- WORKER LIST ---------------- */

.worker-list > *:not(:last-child),
.worker-list > .list > *:not(:last-child) {
	margin-bottom: 0.5rem;
}

.worker-list {
	overflow-y: auto;
}

.worker-list > .list {
	height: fit-content;
	gap: 0.5rem;
}

/* ---------------- USER LIST CARD ---------------- */

.user-list-card {
	height: fit-content;
	display: flex;
	gap: 0.5rem;
	border-radius: var(--border-radius);
	overflow: hidden;
}

.user-list-card p {
	max-width: unset !important;
	font-size: 0.8rem;
	font-weight: 300;
}

.user-list-card .name {
	max-width: 20ch;
}

.user-list-card .id {
	max-width: fit-content;
}

.user-list-card .job-titles {
	padding: 0.3rem 0;
	gap: 0.3rem;
}

/* ---------------- ADD WORKER MODAL ---------------- */

.add-worker-modal {
	width: 25rem;
	max-height: 80vh;
	padding: 2rem;
	gap: 1rem;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.add-worker-modal > .heading > .text-w-icon {
	margin-bottom: 0.8rem;
}

.add-worker-modal .title {
	font-size: 1.7rem;
}

.add-worker-modal .worker-list {
	gap: 0.8rem;
	overflow-y: auto;
	flex-shrink: 0;
}

.add-worker-modal .worker-list > .list,
.add-worker-modal .no-workers-wall {
	min-height: 15rem;
	max-height: 15rem;
	height: 15rem;
	margin-bottom: 0 !important;
}

.add-worker-modal .worker-list-card h4,
.add-worker-modal .worker-list-card p {
	max-width: 23ch;
}

.add-worker-modal .search-bar {
	width: 100%;
}

.add-worker-modal .worker-list-card h4 {
	font-size: 1.1rem;
}

.add-worker-modal .worker-checkbox:hover {
	opacity: 0.7;
}

.add-worker-modal .worker-checkbox input[type='checkbox'] {
	height: 16px;
	width: 16px;
	margin-right: 0.5rem;
}

.add-worker-modal > .buttons {
	gap: 0.5rem;
}

.add-worker-modal > .buttons > * {
	width: 13ch;
}

.add-worker-modal > .buttons h3 {
	font-size: 1rem;
}

/* ---------------- CANNOT EDIT WARNING ---------------- */

.cannot-edit-warning {
    position: relative;
    width: 100%;
    padding: 0.5rem 0.8rem;
    border-radius: var(--border-radius);
}

.cannot-edit-warning::before {
    content: '';
    background-color: var(--red);
    opacity: 0.7;
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    z-index: -1; 
    border-radius: var(--border-radius);
}

@media (max-width: 768px) {
	.content-section-block {
		padding: 1rem;
	}

	.modal-wrapper > div,
	.modal-wrapper > section,
	.modal.modal-form,
	.modal.error-list-dialog,
	.user-info-card {
		min-width: 18rem !important;
		max-width: 70% !important;
	}

	.header-w-back > .back-button {
		left: -5px !important;
	}

	.header-w-back > .back-button > img {
		height: 1.2rem !important;
	}

	.header-w-back > h3 {
		font-size: 1.5rem !important;
	}

	.search-bar > .search-bar-block {
		width: 70% !important;
	}

	.search-bar input {
		padding: 0.3rem;
	}

	.search-bar button > img {
		height: 1rem;
		width: 1rem;
	}

	.search-bar > select {
		flex: 1;
		margin-right: 0 !important;
	}

	.no-content-wall > img {
		height: 7rem !important;
		width: 7rem !important;
	}

	.user-list-card img {
		height: 2rem;
		width: 2rem;
	}

	.user-list-card .name {
		max-width: 30ch;
	}

	.user-list-card .id {
		font-size: 0.7rem !important;
	}
}

@media (max-width: 575px) {
	.search-bar {
		width: 100%;
	}
}

@media (max-width: 480px) {
	button:has(.text-w-icon):not(.unset-button) {
		width: 25ch;
	}

	.no-content-wall > img {
		height: 5rem !important;
		width: 5rem !important;
	}

	.user-info-card .primary-info {
		flex-direction: column-reverse;
	}

	.user-info-card .primary-info #user_info_card_close_button {
		width: fit-content;
		margin-left: auto;
	}

	.user-info-card .primary-info > div:first-child {
		width: 100%;
		flex-direction: column !important;
		align-items: center;
		gap: 0.5rem;
	}

	.user-info-card .primary-info > div:first-child > *,
	.user-info-card .user-job-titles,
	.user-info-card .user-bio {
		text-align: center;
		align-items: center;
		justify-content: center;
	}

	.user-info-card .user-profile-picture {
		height: 4rem;
		width: 4rem;
		margin: 0;
	}

	.user-info-card .user-name {
		font-size: 1.2rem;
	}

	.user-info-card .user-statistics-container {
		flex-wrap: wrap;
		gap: 0.5rem;
	}

	.user-info-card .user-statistic > h4 {
		font-size: 1.3rem;
	}

	.user-info-card .user-performance > .text-w-icon {
		justify-content: center;
	}
}