main.main-page {
	padding: var(--space)
}

.unset-button {
	all: unset; /* removes all default styles */
	font: inherit;
	color: inherit;
	padding: 0;
	margin: 0;
	background-color: transparent;
	border: none;
	outline: none;
}

button:has(.text-w-icon) {
	width: 20ch;
}

.line-divider > hr {
	width: 100%;
}

.line-divider > p {
	top: -13px;
	left: 50%;
	transform: translate(-50%, 0);
	padding: 5px;
}

/* ---------------- PASSWORD TOGGLE WRAPPER ---------------- */
.password-toggle-wrapper {
	position: relative;
}

.password-toggle-wrapper > img {
	display: none;
	position: absolute;
	top: 50%;
	right: 8px;
	transform: translate(0, -50%);
	z-index: 10;
	cursor: pointer;
}

/* --------------- HEADER WITH BACK BUTTON --------------- */
.header-w-back {
	position: relative;
}

.header-w-back > h1,
.header-w-back > h3 {
	text-align: center;
}

.header-w-back > button {
	position: absolute;
	top: 50%;
	left: -25px;
	transform: translate(0, -50%);
	cursor: pointer;
}

/* ------------------------ MODAL ------------------------ */

.modal-wrapper,
.modal-wrapper::before {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}

.modal-wrapper,
.modal-wrapper > * {
	z-index: 1000;
}

.modal-wrapper,
.modal-wrapper > section.dialog {
	min-width: 20rem;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.modal-wrapper:has(.dialog) {
	z-index: 1100 !important;
}

.modal-wrapper {
	background-color: transparent;
}

.modal-wrapper::before {
	content: '';
	background-color: var(--black);
	opacity: 0.5;
}

.modal-wrapper h1 {
	font-size: 2rem;
	font-weight: 800;
    margin-bottom: 0.3rem;
}

.modal-wrapper p {
	font-weight: 300;
}

.modal-wrapper > div,
.modal-wrapper > section {
	max-width: 25rem;
	box-sizing: content-box;
	padding: var(--space);
}

.modal-wrapper .close-button:hover p {
	color: var(--red);
}

.confirmation-dialog {
	padding: var(--space);
	gap: var(--space);
}

.confirmation-dialog > .buttons {
	width: 100%;
	gap: 0.5rem;
}

.confirmation-dialog > .buttons > * {
	flex: 1;
}

/* --------------------- NOTIFICATION --------------------- */

@keyframes slide-down {
	0% {
		margin-top: -50px;
	}

	100% {
		margin-top: 0;
	}
}
.slide-down {
	animation: slide-down 0.3s ease-in;
}

@keyframes slide-up {
	0% {
		margin-top: 0;
	}

	100% {
		margin-top: -10%;
	}
}
.slide-up {
	animation: slide-up 0.3s ease-in;
}

.notification-wrapper,
.notification-wrapper > * {
	z-index: 1000;
}

.notification-wrapper {
	width: 100%;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	padding: 0;
	overflow: hidden;
}

.notification-wrapper > div {
	width: 100%;
	padding: 0.8rem var(--space);
	font-weight: 500;
}

.notification-wrapper.fail > div {
	background-color: var(--red);
}

/* -------------------- TEXT WITH ICON -------------------- */

.text-w-icon,
.text-w-icon > * {
	display: flex;
	align-items: center;
}

.text-w-icon > * {
	justify-content: center;
	align-items: center;
}

.text-w-icon img {
	margin-right: 10px;
}

.text-w-icon h1,
.text-w-icon h3,
.text-w-icon h6,
.text-w-icon p {
	white-space: nowrap;
}

button > .text-w-icon {
	justify-content: center;
}

/* ---------------- STATUS BADGE ---------------- */
.status-badge {
	width: 13ch;
	padding: 0.3rem 0.8rem;
	border-radius: 5rem;
}

/* ---------------- INPUT LABEL CONTAINER ---------------- */
.input-label-container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem
}

.input-label-container > label {
	font-size: 1.2rem;
	font-weight: 300;
}

/* ---------------- SEARCH BAR ---------------- */

.search-bar {
	display: flex;
	border: 1px solid var(--light-black);
	border-radius: var(--border-radius);
	align-items: center;
	background-color: transparent;
}

.search-bar > input {
	flex: 1;
	font-size: 0.8rem;
	border: none;
}

.search-bar > input:focus,
.search-bar > input:hover,
.search-bar > input:active {
	outline: none;
}

.search-bar > button {
	width: fit-content;
	padding: 0.3rem;
}

/* ---------------- NO CONTENT WALL ---------------- */
.no-content-wall {
	justify-content: center;
	align-items: center;
	min-height: 10rem;
}

/*  */
.job-title-chip {
	background-color: var(--white);
	color: var(--black);
	padding: 0.2rem 0.5rem;
	border: 1px solid var(--black);
	border-radius: 5rem;
	font-size: 0.9rem;
	margin: 0.1rem;
}