.main-project-content,
.main-sub-content,
.project-secondary-info {
	gap: var(--space);
}

.project-name {
	max-width: 70ch;
	margin-right: 1rem;
	font-size: 1.5rem;
	overflow: hidden;
	white-space: normal !important;
}

.edit-project-container {
	flex: 1;
}

.edit-project:hover,
.delete-project:hover {
	opacity: 0.7;
}

.edit-project {
	margin-right: 0.5rem;
}

.project-id {
	font-weight: 300;
}

.project-description {
	margin: 1rem 0;
	font-weight: 300;
	white-space: pre-wrap !important;
}

.main-sub-content {
	flex: 1;
	width: 100%;
}

.project-statistics > * {
	flex: 1;
}

.project-statistics > .left {
	grid-template-columns: 1fr 1fr;
	gap: 0.5rem;
	overflow: hidden;
}

.progress-percentage {
	font-size: 2rem;
	font-weight: 800;
	margin-bottom: 0.3rem;
}

.progress-container {
	width: 80%;
	max-width: 400px;
	background: #e0e0e0;
	border-radius: 5rem;
	overflow: hidden;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.progress-container > .progress-bar {
	height: 30px;
	width: 0%;
	background: linear-gradient(90deg, #4caf50, #81c784);
	text-align: center;
	line-height: 30px;
	color: white;
	font-weight: bold;
	transition: width 0.8s ease;
}

.task-statistics > .see-all-tasks {
	width: 100%;
	margin-bottom: var(--space);
	gap: 0.8rem;
}

.task-statistics > .see-all-tasks > a:hover {
	text-decoration: underline;
}

.task-statistics-chart {
	gap: var(--space);
}

.chart-container {
	width: 300px !important;
	height: 300px !important;
}

.team-members {
	width: 25rem;
}

.team-members > section {
	width: 100%;
}

.project-workers {
	height: fit-content;
	max-height: 35rem;
	width: 23rem;
	margin-top: 1.5rem;
	gap: 0.5rem;
}

.project-workers .search-bar {
	width: 100%;
	margin-bottom: 0.5rem;
}

.no-workers-wall {
	min-height: 13rem;
}

.project-workers .worker-list > .list {
	min-height: 5rem;
}

.project-workers .worker-list-card h4,
.project-workers .worker-list-card p {
	max-width: 15ch;
}

.project_workers #add_worker_button {
	width: 18ch;
	margin-top: 0.5rem;
	font-size: 0.8rem;
}

.phase-list {
	gap: 1rem;
}

.phase-list-card {
	gap: 0.5rem;
}

.phase-list-card .phase-description {
	font-size: 0.9rem;
	font-weight: 300;
	max-width: 90ch;
	margin-top: 0.3rem;
	margin-bottom: 0.5rem;
	line-height: 1.6rem;
	white-space: pre-wrap !important;
}

.phase-list-card .phase-dates {
	font-size: 0.8rem;
	font-weight: 200;
}

.phase-list-card .project-schedule {
	gap: 0.5rem;
	margin-top: 0.2rem;
}

.phase-list-card .text-w-icon > img {
	margin-right: 0.3rem;
}

.project-actions > .action-buttons {
	padding-top: 0.5rem;
	gap: 0.5rem;
}

.project-actions > .action-buttons > *:hover {
	opacity: 1;
	text-decoration: underline;
}

.project-actions > .action-buttons > * {
	width: fit-content;
}

#cancel_project_button {
	color: var(--red);
	font-weight: 500;
}

@media (max-width: 1024px), (max-width: 1024px) and (max-height: 801px) {
	.first-col.text-w-icon {
		align-items: start;
	}

	.project-secondary-info,
	.name-and-status {
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 1rem;
	}

	.team-members {
		width: 100%;
		max-width: unset;
	}
}

@media (max-width: 768px) {
	.project-name {
		font-size: 1.2rem;
	}

	.name-and-status {
		gap: 0.3rem;
		margin-bottom: 0.5rem;
	}

	.project-description {
		margin: 0.5rem 0;
	}

	.project-statistics {
		flex-direction: column-reverse;
		gap: 1rem;
	}

	.progress-container {
		width: 100%;
		max-width: unset;
	}

	.progress-container > .progress-bar {
		height: 25px;
		line-height: 25px;
		font-size: 0.9rem;
	}

	.project-statistics > .left,
	.project-statistics > .right {
		flex: 1;
		width: 100%;
		height: fit-content;
	}

	.project-statistics > .left {
		overflow: unset;
	}

	.project-statistics > .left  h3 {
		font-size: 1rem !important;
	}

	p.progress-percentage {
		font-size: 1.8rem !important;
	}

	.see-all-tasks > a {
		float: left;
	}

	.task-statistics {
		gap: 1rem;
		align-items: center;
		justify-content: center;
	}

	.task-statistics-chart {
		flex-direction: column;
	}

	.chart-container {
		width: 250px !important;
		height: 250px !important;
	}

	.phase-list {
		max-height: 30rem;
		overflow-y: auto;
	}

	.phase-list-card {
		flex-direction: column;
		gap: 0.5rem;
	}

	.phase-list-card > div:nth-child(1) {
		width: 100%;
	}

	.phase-list-card > div:nth-child(2) {
		margin-right: auto;
	}

	.team-members #add_worker_button {
		width: 15ch !important;
	}

	#cancel_project_button {
		font-size: 0.8rem !important;
	}
}

@media (max-width: 480px) {
	p.progress-percentage {
		font-size: 1.5rem !important;
	}

	.task-statistics-chart {
		width: fit-content;
	}

	.chart-container {
		width: 200px !important;
		height: 200px !important;
	}

	.phase-list-card .phase-description,
	.phase-list-card .phase-schedule {
		line-height: 1.4rem;
	}
}

@media (max-width: 375px) {
	.project-workers {
		width: 100%;
		max-width: unset;
	}

	.phase-list-card .phase-description,
	.phase-list-card .phase-schedule {
		line-height: 1.2rem;
		font-size: 0.7rem !important;
	}

}