.section {
	width: 100vw;
	height: 100vh;
}

.text-ctn {
	margin: 18px;
}

.marquee {
	width: 360px;
	border-bottom: 3px solid var(--red);
	background-color: var(--red);
	white-space: nowrap;
}

.marquee-text {
	display: inline-block;
	width: 260px;
	font-size: 24px;
	font-weight: bold;
	color: var(--white);
	animation: scroll 3s linear infinite;
}

.marquee-text:before {
	content: 'CANNOT ACCESS';
}

@keyframes scroll {
	100% {
		transform: translateX(-100%);
	}
}

#sec-1 {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--black);
}

#ctn {
	margin-top: 40px;
	width: 360px;
	height: 360px;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	overflow: hidden;
}

#context {
	display: inline-block;
	padding: 5px 10px 5px 10px;
	border: 2px solid var(--red);
	border-radius: 8px;
	font-size: 50px;
	animation: flash 1s linear infinite;
}

@keyframes flash {
	50% {
		opacity: 0;
	}
}
