body.index > main {
    height: 100%;
}

.banner,
.form {
    width: 50%;
}

.banner {
    gap: var(--space);
}

.form {
    padding: 0 10rem;
    gap: var(--space);
}

.form > .line-divider {
    font-weight: 800;
    height: 3px; 
    background-color: var(--white);
}

.called-form-container {
    width: 100%;
}

.called-form-container > .index-form {
    gap: 1rem;
}

.index-redirect {
    line-height: 1.6rem;
}

.index-redirect a:hover {
    text-decoration: underline;
}

.terms-and-conditions,
.report-something {
    width: 100%;
    font-size: 0.9rem;
    font-weight: 300;
}

.login-redirect-divider {
    margin: 0.8rem auto;
    width: 50%;
    border: 0.5px solid var(--white);
    opacity: 0.2;
}

/* Register Form */
#register_form .separated-input {
    gap: 1rem;
}

#register_form > .gender-radio {
    gap: 1rem;
}

#register_form > .gender-radio > div {
    gap: 0.5rem;
}

#register_form > .gender-radio > div > label {
    font-size: 1.2rem;
}

#register_form > .gender-radio > div > input[type="radio"] {
    width: 1.1rem;
    height: 1.1rem;
}

#register_form .birth-date,
#register_form .birth-date .date-inputs {
    gap: 0.5rem;
}

#register_form .invalid-date-result-box {
    margin-bottom: 0.3rem;
}

#register_form .role-selection {
    gap: 1rem;
}

#register_form .role-selection > div {
    flex: 1;
}

#register_form .role-button {
    width: 100%;
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.1rem;
    border: 1px solid var(--white);
    border-radius: var(--border-radius);
}

#register_form .role-button.selected {
    background-color: var(--white);
    color: var(--black);
    font-weight: 600;
}

#login_button,
#register_button {
    width: 100% !important;
}

.confirm-email img {
    margin-bottom: 2rem;
}

.confirm-email h1 {
    margin-bottom: 1rem;
}

.confirm-email p {
    font-size: 1.2rem;
}

.confirm-email a:hover {
    text-decoration: underline;
}

.agree-terms {
    width: 100%;
}

.agree-terms > input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    margin-right: 5px;
    cursor: pointer;
}

.agree-terms > label {
    flex: 1;
    cursor: pointer;
}