.projects {
	gap: var(--space);
}

.projects .statistics,
.projects .statistics > .sub-statistics,
.projects .insights-recommendations {
	gap: var(--space);
}

.projects .statistics .performance {
	margin-right: 2rem;
}

.projects .statistics > .sub-statistics > * {
	padding: 0.3rem 1rem;
	border-radius: var(--border-radius);
}

.projects .statistics .total > h3, 
.projects .statistics .completed > h3, 
.projects .statistics .cancelled > h3, 
.projects .statistics .cancel-terminate > h3 {
	width: 10ch;
	margin-bottom: 0.5rem;
}

.projects .statistics > div {
	gap: 1rem;
}

.projects .statistics .text-w-icon > h3 {
	font-size: 1.7rem;
}

.projects .statistics > .performance {
	width: fit-content;
}

.projects .statistics > .performance h1 {
	margin-left: 0.5rem;
	font-size: 3rem;
	font-weight: 700;
}

.projects .insights-recommendations {
	background-color: #f9ef888f;
	box-shadow: var(--box-shadow);
}

.projects .insights-recommendations > * {
	flex: 1;
	line-height: 1.6rem;
}

.projects .insights-recommendations ul {
	max-height: 10rem;
	overflow: auto;
}

.projects .insights-recommendations li {
	list-style: disc;
	margin-left: 1.3rem;
	font-size: 0.9rem;
	color: var(--black);
}

.project-grid {
	gap: var(--space);
}

.project-grid-card {
	padding: 1rem;
}

.project-grid-card:hover {
    opacity: 0.7;
}

.project-grid-card > a {
	gap: 0.5rem;
}

.project-grid-card .project-name {
	max-width: 23ch;
	font-size: 1.5rem;
	font-weight: 600;
	overflow: hidden;
}

.project-grid-card .project-schedule {
	margin-top: 0.3rem;
	font-size: 0.9rem;
	font-weight: 300;
}

.project-grid-card .project-description {
	font-size: 1rem;
	font-weight: 300;
	white-space: pre-wrap !important;
}

.project-status {
    flex: 1;
}

.no-projects-wall {
	height: 60vh;
}

.no-projects-wall > img {
	height: 10rem;
}

.no-projects-wall > h3 {
	margin-top: 0.8rem;
	font-size: 1.3rem;
	font-weight: 300;
}

@media (max-width: 768px) {
	.projects .statistics,
	.projects .statistics > .sub-statistics,
	.projects .insights-recommendations {
		flex-direction: column;
	}

	.projects .statistics .performance {
		margin-right: 0;
	}

	.projects .statistics > .performance h1 {
		font-size: 2.3rem !important;
	}

	.projects .statistics .performance img {
		width: 2rem;
	}

	.projects .statistics > .sub-statistics > * {
		width: 100%;
		padding: 0.5rem;
		flex-direction: row-reverse;
		justify-content: start;
		align-items: center;
		gap: 1rem;
	}

	.projects .statistics > .sub-statistics h3 {
		margin-bottom: 0;
	}

	.projects .statistics > .sub-statistics img {
		height: 1.5rem;
		width: 1.5rem;
	}

	.projects .insights-recommendations > * {
		line-height: 1.2rem;
	}
}