.projects {
	gap: var(--space);
}

.projects .statistics,
.projects .insights-recommendations {
	gap: var(--space);
}

.projects .statistics .performance {
	margin-right: 2rem;
}

.projects .statistics > div:not(.performance) {
	padding: 0.3rem 1rem;
	border: 1px solid var(--white);
	border-radius: var(--border-radius);
}

.projects .statistics .total > h3, 
.projects .statistics .completed > h3, 
.projects .statistics .cancelled > h3, 
.projects .statistics .cancel-terminate > h3 {
	width: 10ch;
}

.projects .statistics > div {
	gap: 1rem;
}

.projects .statistics .text-w-icon > h3 {
	font-size: 1.7rem;
}

.projects .statistics > .performance {
	width: fit-content;
}

.projects .statistics > .performance h1 {
	margin-left: 0.5rem;
	font-size: 3rem;
	font-weight: 700;
}

.projects .insights-recommendations {
	background-color: #f9ef888f;
}

.projects .insights-recommendations > * {
	flex: 1;
	line-height: 1.6rem;
}

.projects .insights-recommendations ul {
	max-height: 10rem;
	overflow: auto;
}

.projects .insights-recommendations li {
	list-style: disc;
	margin-left: 1.3rem;
	font-size: 0.9rem;
	color: var(--black);
}

.project-grid {
	grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
	gap: var(--space);
}

.project-grid-card {
	background-color: var(--black);
	aspect-ratio: 1 / 1;
	padding: 1rem;
	border-radius: var(--border-radius);
}

.project-grid-card:hover {
    opacity: 0.7;
}

.project-grid-card > a {
	gap: 0.5rem;
}

.project-grid-card .project-name {
	max-width: 23ch;
	font-size: 1.5rem;
	font-weight: 600;
	overflow: hidden;
}

.project-grid-card .project-schedule {
	margin-top: 0.3rem;
	font-size: 0.9rem;
	font-weight: 300;
}

.project-grid-card .project-description {
	max-width: 25ch;
	font-size: 1rem;
	font-weight: 300;
	white-space: pre-wrap !important;
}

.project-status {
    flex: 1;
}

.no-projects-wall {
	height: 60vh;
}

.no-projects-wall > img {
	height: 10rem;
}

.no-projects-wall > h3 {
	margin-top: 0.8rem;
	font-size: 1.3rem;
	font-weight: 300;
}