.sidenav {
    height: 100%;
    width: 35ch;
    padding: 3rem 0;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 50;
}

.sidenav a,
.sidenav button:not(.hamburger-button) {
    display: block;
    padding: 1rem 4rem;
}

.sidenav button.hamburger-button {
    padding: 0.5rem 1rem;
}

.sidenav button {
    max-width: unset;
}

.sidenav a > .text-w-icon > h3,
.sidenav button > .text-w-icon > h3 {
    font-weight: 500;
    font-size: 1.5rem;
}

.sidenav a.active,
.sidenav a:hover,
.sidenav button.active,
.sidenav button:hover {
    background-color: var(--light-black);
    font-weight: 800;
}

@media (max-width: 992px) {
    .sidenav {
        width: fit-content;
        padding: 1rem 0;
    }

    .sidenav a,
    .sidenav button:not(.hamburger-button) {
        padding: 1rem 2.5rem;
    }

    .sidenav .small-sidenav {
        display: block;
    }

    .sidenav .small-sidenav.hide {
        display: none !important;
    }

    .main-sidenav {
        display: none;
    }

    .main-sidenav.show {
        display: block !important;
    }
}

@media (max-width: 768px) {
    .small-sidenav img {
        width: 1.2rem;
    }
}