.single-form:has(.create-project) > main,
.single-form:has(.edit-project) > main, 
.single-form:has(.add-task) > main {
    padding: 3rem 0;
}

.single-form:has(.create-project) .single-form-form,
.single-form:has(.edit-project) .single-form-form,
.single-form:has(.add-task) .single-form-form {
    width: fit-content;
	height: 100%;
}

.single-form:has(.create-project) .single-form-form,
.single-form:has(.edit-project) .single-form-form {
	width: 43rem;
}

.single-form-form {
	width: 500px;
	border-radius: var(--border-radius);
	gap: 2rem;
}

.single-form-form h3 {
	font-size: 2rem;
}

.single-form-form form {
    gap: var(--space)
}

#change_password_form .password-list-validator {
	gap: 1rem;
}

#change_password_form .password-list-validator > li {
	max-width: 40ch;
}

@media (max-width: 992px) {
	.single-form > main {
		padding: 0 2rem;
	}

	.single-form-form {	
		padding-left: var(--space);
		padding-right: var(--space);
	}
}

@media (max-width: 768px) {
	.single-form:has(.create-project) > main,
	.single-form:has(.edit-project) > main, 
	.single-form:has(.add-task) > main {
		padding: 2rem;
	}

	.single-form:has(.create-project) > .single-form,
	.single-form:has(.edit-project) > .single-form, 
	.single-form:has(.add-task) > .single-form {
		width: 100%;
		height: 100%;
	}

	.single-form .single-form-form .text-w-icon img {
		height: 1rem;
		width: 1rem;
	}
}