.task-grid,
.worker-grid {
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)) !important;
	gap: 1rem;
}

.task-grid-card,
.worker-grid-card {
	aspect-ratio: 1 / 1;
	background-color: var(--black);
	border-radius: var(--border-radius);
}

/* Main Task Page */

.task {
	gap: var(--space);
}

.task-grid-container {
	height: 100%;
	overflow: auto;
}

.task-grid-card:hover {
	opacity: 0.7;
}

.task-grid-card > a {
	padding: 1rem;
	gap: 0.7rem;
}

.task-grid-card .task-name {
	max-width: 20ch;
	font-size: 1.5rem;
	font-weight: 600;
}

.task-grid-card .task-id {
	font-size: 0.9rem;
	font-weight: 300;
}

.task-grid-card .task-schedule {
	gap: 0.5rem;
}

.task-grid-card .task-schedule > div {
	gap: 0.3rem;
}

.task-grid-card .task-badge {
	flex: 1;
	gap: 0.3rem;
}

#add_task_button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#add_task_button h3 {
	font-size: 1.5rem;
}

.no-tasks-wall {
	height: 100%;
}

/* View Task Page */

.view-task-info {
	height: 100%;
	gap: var(--space);
	overflow: auto;
}

.view-task-info .heading h3 {
	font-size: 1.5rem;
	margin-right: 0.8rem;
	max-width: 70ch;
	overflow: hidden;
	white-space: normal;
}

.task-info,
.task-info .action-buttons {
	gap: 0.5rem;
}

.task-info .back-button {
	width: fit-content;
	background-color: transparent;
	margin-right: 1rem;
}

.task-info .task-id,
.task-info .task-description {
	font-weight: 300;
}

.task-info .task-description {
	white-space: pre-wrap !important;
}

.task-info .task-schedule {
	gap: 0.3rem;
}

.assigned-workers {
	height: fit-content;
	gap: 1rem;
}

.worker-grid {
	max-height: 80vh;
	overflow: auto;
}

.assigned-workers #add_worker_button {
	border: 1px solid var(--white);
}

#edit_task_form .task-secondary-info {
	gap: 1rem;
}

#edit_task_form #task_priority {
	width: 18ch;
}