/* Main Users Page */

.users {
	gap: var(--space);
}

.user-grid {
	gap: 1rem;
}

.user-grid-container {
	height: 100%;
}

.no-users-wall {
	height: 100%;
}

.no-users-wall > img {
	height: 10rem;
}

.no-users-wall > h3 {
	margin-top: 0.8rem;
	font-size: 1.3rem;
	font-weight: 300;
}

.user-grid-card {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	gap: 1rem;
}

.user-grid-card:hover {
	opacity: 0.7;
}

.user-grid-card .user-primary-info {
	gap: 1rem;
}

.user-grid-card .user-name {
	max-width: 18ch;
	font-size: 1.2rem;
	font-weight: 500;
}

.user-grid-card .user-id {
	font-size: 0.7rem;
	font-weight: 300;
}

.user-grid-card .role-badge {
	width: 100%;
}

.user-grid-card .user-statistics,
.user-grid-card .user-contact-info {
	gap: 0.3rem;
}

.user-grid-card .user-status {
	flex: 1;
}

@media (max-width: 768px) {
	.user-grid {
		padding-bottom: var(--space);
	}
}