/* Main Users Page */

.users {
	gap: var(--space);
}

.user-grid{
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)) !important;
	gap: 1rem;
}

.user-grid-container {
	height: 100%;
}

.no-users-wall {
	height: 100%;
}

.no-users-wall > img {
	height: 10rem;
}

.no-users-wall > h3 {
	margin-top: 0.8rem;
	font-size: 1.3rem;
	font-weight: 300;
}
